# Compiled class files
*.class
bin/

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IDE files
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# GitHub tokens
ghp_*

# OS specific files
.DS_Store
Thumbs.db
